<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="clo-sm-6">
        <app-progresso></app-progresso>
      </div>
      <div class="clo-sm-6">
        <app-tentativa></app-tentativa>
      </div>
    </div>

  <div class="row">
    <div class="col">
      <h6>Traduza a Frase:</h6>
      <p>frase traduzaida </p>
      <div class="form-group">
        <label for="pwd">Digite ao texto aqui </label>
        <textarea class="form-control" id="textarea" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
</div>
